
/* font-family: 'Cinzel', serif; */
:root{
    --myWhite: rgb(255, 255, 255);
    --myDark: rgb(8, 28, 21);
}

.textWhite{
    color: var(--myWhite);
}

.textDark{
    color: var(--myDark);
}

.btnWhite{
    background-color: var(--myWhite);
}

.btnDark{
    background-color: var(--myDark);
}

.nav-link{
    color: var(--myWhite);
    font-family: 'Cinzel', serif;
}


.nav-link:hover{
    color: var(--myWhite);
}

.btn-nav{
    border-color: var(--myWhite);
    cursor: none;
    
}

.btn-nav:hover{
    border-color: none;
}

.h1, h1, .h2, h2, .h3, h3, .h4 , h4, p, a, .btn, ::placeholder, span, label{
    font-family: 'Cinzel', serif;
}

.logo-custom{
    height: 70px;
    
}

.header{
    background-image: url(/public/media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-custom{
    width: 287px;
    height: 351px;
    border-radius: 20px;
}


/* card copiato */

.card {
    width: 18rem;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: color-primary-white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }
    
    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }
    
    
    a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
    }
    
    &:hover h2 {
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
    }
    
    &:hover a {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }
    
    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }
    
}

.material-symbols-outlined {
    vertical-align: middle;
}

.btn-footer{
    padding: 0;
    border: 0;
    background-color: var(--myWhite);
}

.btn-dark{
    background-color: var(--myDark);
}

.h-custom{
    height: 77vh;
}