
/* font-family: 'Cinzel', serif; */
:root{
    --myWhite: rgb(255, 255, 255);
    --myDark: rgb(8, 28, 21);
}

.textWhite{
    color: var(--myWhite);
}

.textDark{
    color: var(--myDark);
}

.btnWhite{
    background-color: var(--myWhite);
}

.btnDark{
    background-color: var(--myDark);
}

.nav-link{
    color: var(--myWhite);
    font-family: 'Cinzel', serif;
}


.nav-link:hover{
    color: var(--myWhite);
}

.btn-nav{
    border-color: var(--myWhite);
    cursor: none;
    
}

.btn-nav:hover{
    border-color: none;
}

.h1, h1, .h2, h2, .h3, h3, .h4 , h4, p, a, .btn, ::placeholder, span{
    font-family: 'Cinzel', serif;
}

.logo-custom{
    height: 70px;
    
}

.header{
    background-image: url(/public/media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.card {
    width: 290px;
    height: 354px;
    border-radius: 20px;
    border: 2px solid var(--myDark);
}

.img-custom{
    width: 287px;
    height: 351px;
    border-radius: 20px;
}